<div class="Headliner">
  <h1> Welcome to Scoop U</h1>
  <article>
    <p>We will come scoop you up anywhere, anytime and take you to the ice cream shope of your choice..</p>
  </article>
</div>
<div class="homepage-links">
  <button class="homebuttons"> 
    <%= link_to "Manage Passenger", passengers_path %> 
  </button>
  <button class="homebuttons"> 
    <%= link_to "Manage Drivers", drivers_path%> 
  </button>
</div>