
<div class="homepage-links">
  <button class="homebuttons"> 
    <%= link_to "Manage Passenger", passengers_path %> 
  </button>
  <button class="homebuttons"> 
    <%= link_to "Manage Drivers", drivers_path%> 
  </button>
</div>