// Place all the styles related to the passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  text-align: center;
   
  }
  
.passenger-snippet {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}